<li>
  <button class="btn--ghost btn--small" data-controller="theme" data-action="click->theme#toggle" aria-label="Toggle theme">
    <%= render "icons/sun" %><%= render "icons/moon" %>
  </button>
</li>
